@import url('https://fonts.cdnfonts.com/css/cocogoose');

* {
  font-family: 'COCOGOOSE', sans-serif;
}

body {
  width: 100%;
}

.main-nav,
.navigation,
.link-to-program,
.last-text {
  display: none;
}

#first-header {
  background-color: #fff;
  height: 10vh;
}

.top-bg {
  background-image: url("assets/backgroundImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu-image {
  font-size: 30px;
}

.hero {
  color: #ec5242;
}

.hero-first-title {
  font-size: 40px;
  font-weight: 700;
}

.message-p {
  background-color: rgb(194, 194, 194, 0.4);
  font-weight: 600;
}

.text-time {
  font-weight: 700;
  font-size: 30px;
}

.section-title-white {
  color: white;
}

.section-title-black {
  color: black;
}

.line-name {
  border: 1px solid #ec5242;
  width: 40px;
}

.program {
  background-image: url("assets/violin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.program-card {
  display: flex;
  flex-direction: row;
  background-color: rgb(90, 90, 90, 0.7);
}

.program-title {
  color: #ec5242;
  font-weight: 500;
  font-size: 20px;
}

#cc-btn {
  background-color: #fff;
  color: #ec5242;
  border: 4px solid #ec5242;
  text-decoration: none;
  margin-top: 20px;
}

#cc-btn:hover {
  background-color: #ec5242;
  color: #fff;
  border: 4px solid #ec5242;
  text-decoration: none;
}

.image-holder {
  background-image: url("assets/Headphones.png");
  background-size: 30%;
  background-position: 0 10px;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-left: 15px;
}

.speaker-card {
  display: flex;
  flex-direction: row;
}

.program-card:hover {
  border: 4px solid rgb(65, 63, 84);
  cursor: pointer;
}

.speaker-info {
  font-size: 12px;
}

.speaker-name {
  font-size: 17px;
}

.speaker-about {
  color: #ec5242;
}

.line-breaker {
  margin: 3px;
  width: 30px;
  border: 1px solid gray;
}

.see-more {
  border: 1px solid gray;
  margin: 15px;
  color: gray;
}

.see-more > p {
  margin-bottom: 10px;
}

.see-more > p > i {
  color: #ec5242;
  padding-left: 4px;
}

.under {
  text-decoration: underline;
}

.summit-sub {
  background-color: #ec5242;
  height: 40vh;
  padding-top: 20%;
}

.summit-one {
  background-image: url("assets/pastImg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.summit-two {
  background-image: url("assets/pastImg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.more-partners {
  background-image: url("assets/Headphones.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-group {
  display: flex;
  justify-content: space-around;
}

.first-p,
.second-p,
.third-p,
.fourth-p,
.fifth-p {
  font-size: 30px;
  font-weight: 700;
  color: aquamarine;
}

.first-p {
  color: #ec5242;
}

.third-p {
  color: #ec5242;
}

.bottom-part {
  display: flex;
}

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 0.2s ease-in-out;
  background-color: #ec5242;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
}

.mobile-nav-ul > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
}

.mobile-nav-ul > li {
  list-style-type: none;
}

.cross {
  color: #fff;
  font-size: 34px;
  padding: 0 7px;
  float: right;
  margin-left: 85%;
}

.summit-sub:hover {
  opacity: 0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #sponsor,
  #updates {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    background-color: #3e3e3e;
  }

  .main-nav-ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .main-nav-i {
    color: #fff;
    list-style: none;
    margin-left: 20px;
  }

  .main-nav-i:hover {
    color: aquamarine;
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
  }

  #menu-image,
  .see-more,
  .about-salute,
  .more-partners-about {
    display: none;
  }

  .navigation {
    display: contents;
    flex-direction: row;
    justify-content: space-between;
  }

  .second-nav-ul {
    display: flex;
    margin-top: 25px;
    justify-content: flex-end;
  }

  .second-nav-ul > li {
    list-style: none;
    padding-left: 30px;
  }

  .second-nav-i {
    color: black;
    text-decoration: none;
  }

  .second-nav-i:hover {
    color: #ec5242;
    text-decoration: none;
  }

  .hero-first-title {
    font-size: 60px;
    font-weight: 700;
  }

  .message-p {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
  }

  .program-container {
    display: flex;
    flex-direction: row;
  }

  .program-card {
    display: flex;
    flex-direction: column;
  }

  .link-to-program {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
  }

  .bottom-txt {
    padding-top: 30px;
  }

  .last-text {
    display: block;
  }

  .about-message-p {
    margin-left: 20%;
  }

  .main-logo {
    width: 60%;
  }

  .past-summit {
    display: flex;
    justify-content: space-between;
  }

  .summit-card {
    width: 47%;
  }

  .p-div {
    display: flex;
    justify-content: center;
  }

  .bottom {
    background-color: rgb(45, 44, 44);
    color: #fff;
  }

  .bottom-img {
    margin-top: auto;
  }
}
